PORT=3000
NODE_ENV=development
DATABASE= remote mongoDB url
DATABASE_LOCAL= local mongoDB url
DATABASE_PASSWORD= your mongoDB password

JWT_SECRET= your JWT secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME= your mailtrap username
EMAIL_PASSWORD= tour mailtrap password
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25

EMAIL_FROM=hello@yegor.io

GOOGLE_CLIENT_ID= your google clientId
GOOGLE_CLIENT_SECRET= your google client secret

GMAIL_USER= your gmail
GMAIL_PASSWORD- your gmail password

STRIPE_SECRET_KEY= your stripe secret key
STRIPE_WEBHOOK_SECRET= your stripe webhook secret (P.S. webhook works only on production server)